@import "less/fontawesome";
@import "less/solid";
@import "less/brands";
@import "mixins";
@import "less/regular";

@color1: #33373A;
@color2: #F8F9FA;
@color3: #850c24;

html, body {
  height: 100%;
}
body {
  font: 100% 'Open Sans', sans-serif;
    font-size: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
textarea, button, select {
  outline: none;
}