@import "less/fontawesome";
@import "less/solid";
@import "less/brands";

@color1: #33373A;
@color2: #F8F9FA;
@color3: #850c24;

html, body {
  height: 100%;
  overflow: hidden;
}
body {
  overflow: auto;
    font: 100% 'Open Sans', sans-serif;
    font-size: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea, button {
  outline: none;
}
.chat-container {
  width: 100%;
  height: 100vh;
  background: @color1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-menu{
  border: @color3 2px solid;
  padding:0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
flex-basis: 10%;
  h1{
    letter-spacing: 2px;
    color:@color2;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
  }
}
.chat-form{
  border: @color3 2px solid;
  display: flex;
  align-items: center;
  flex-basis: 20%;
  padding:0 20px;
  textarea{
    border-radius: 20px;
    height: 70%;
    flex-basis: 80%;
    resize: none;
    border: 1px solid @color3;
    padding: 10px 20px;
  }
  textarea::-webkit-input-placeholder { color: @color3; }
  textarea:-ms-input-placeholder { color: @color3; }
  textarea::-ms-input-placeholder { color: @color3; }
  textarea::placeholder { color: @color3; }
  button{
    margin-left: 20px;
    cursor: pointer;
    background: @color3;
    color:@color2;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: bold;
  }
  button:hover{
    background: @color2;
    color:@color3;
  border-color: @color3;
  }
}
.chat-display{
  flex-basis: 70%;
  background: @color2;
  border-top: 2px solid @color3;
  border-bottom: 2px solid @color3;
  overflow-y: hidden;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.message-block{
  flex-direction: column;
  display: flex;
  max-width: 45vw;
  //>div{
  //  width: 100%;
  //}
}
.message-author{
  line-height: 0.9;
  color:@color3;
  font-size: 1.1rem;
}
.message-text{
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  color:@color1;
  background: @color2;
  border: @color1 2px solid;
}
.message-date{
  text-align: right;
  padding-top: 2px;
  color:grey;
  font-size: 0.8rem;
}
//
//*:active, *:focus {
//  outline: none;
//}
//
//a {
//  color: inherit;
//  text-decoration: none;
//}
//
//a:hover {
//  text-decoration: none;
//  color: inherit;
//}
//
//
//body {
//  font: 100% 'Open Sans', sans-serif;
//  font-size: 1rem;
//  background: @color2;
//}
//
//.chat-form {
//  position: relative;
//  display: flex;
//  justify-content: center;
//}
//
//input:focus, textarea:focus, select:focus {
//  outline-offset: 0;
//}
//
//.users-container {
//  text-align: center;
//  width: 100%;
//}
//
//.users-block {
//  margin: 0 auto;
//  max-width: 1920px;
//  display: flex;
//  flex-direction: column;
//}
//
//.user-edit{
//  input::-webkit-input-placeholder { color: @color2; }
//  input:-ms-input-placeholder { color: @color2; }
//  input::-ms-input-placeholder { color: @color2; }
//  input::placeholder { color: @color2; }
//}